<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.user.mapper.RoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.user.model.entity.RoleMenu">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 使用两个 resultMap, 将 RoleName 按 MenuPath 组合成 List 类型 -->
    <resultMap id="RoleNameListMap" type="java.lang.String">
        <result column="role_name" />
    </resultMap>
    <resultMap id="MenuRoleBOMap" type="com.cafe.user.model.bo.MenuRoleBO">
        <result column="menu_path" property="menuPath" />
        <collection property="roleNameList" resultMap="RoleNameListMap" javaType="java.util.List" />
    </resultMap>

    <select id="menuRoleBOList" resultMap="MenuRoleBOMap">
        SELECT m.menu_path, r.role_name
        FROM mall_menu AS m
        LEFT JOIN mall_role_menu AS rm ON rm.menu_id = m.id
        LEFT JOIN mall_role AS r ON r.id = rm.role_id
        <where>
            <if test="menuIds != null and menuIds.size() > 0">
                AND rm.menu_id IN
                <foreach collection="menuIds" item="menuId" open="(" close=")" separator=",">
                    #{menuId}
                </foreach>
            </if>
            AND m.is_deleted = 0
            AND r.is_deleted = 0
            OR ISNULL(r.role_name)
        </where>
    </select>

</mapper>
