<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.user.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.user.model.Role">
        <id column="id" property="id" />
        <result column="platform_id" property="platformId" />
        <result column="role_name" property="roleName" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <select id="nameList" resultType="java.lang.String">
        SELECT role_name
        FROM mall_role AS r
        LEFT JOIN mall_user_role AS ur ON ur.role_id = r.id
        <where>
            <if test="userId != null">
                AND ur.user_id = #{userId}
            </if>
            AND r.is_deleted = 0
        </where>
    </select>

</mapper>
