<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.review.mapper.ReviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.review.model.entity.Review">
        <id column="id" property="id" />
        <result column="rating" property="rating" />
        <result column="comment" property="comment" />
        <result column="audit" property="audit" />
        <result column="status" property="status" />
        <result column="review_type" property="reviewType" />
        <result column="target_type" property="targetType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="audit_time" property="auditTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

</mapper>
