<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 日志文件名称 (存储于项目路径下的 logs 目录下, 如果目录不存在会自动创建) -->
    <property name="LOG_FILE" value="logs/mall-goods" />

    <!-- 导入 SpringBoot 提供的 LogBack 日志配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- 自定义日志文件配置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 使用 SpringBoot 提供的日志打印格式, 使用 UTF-8 编码 -->
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 日志文件名称配置 -->
        <file>${LOG_FILE}.log</file>
        <!-- 滚动日志记录 (日志先记录到滚动日志中, 滚动日志满了再添加到总日志文件的末尾) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 滚动日志文件名称配置 (%i 用于计数, 因为单个文件有最大限制, 所以一天可能会产生多个滚动日志文件) -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 单个滚动日志文件最大 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 单个滚动日志保留时长 30 天 -->
            <maxHistory>30</maxHistory>
            <!-- 所有滚动日志文件加起来最大 10GB -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 打印 INFO 以上级别的日志 -->
    <root level="INFO">
        <!-- 使用 SpringBoot 提供的控制台日志配置 -->
        <appender-ref ref="CONSOLE" />
        <!-- 使用自定义的日志文件配置 -->
        <appender-ref ref="FILE" />
    </root>

</configuration>
