<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.admin.dao.RoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.admin.model.RoleMenu">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通过两个 resultMap 配合, 将接收的数据转换为 List 类型 -->
    <resultMap id="RoleNameListResult" type="java.lang.String">
        <result column="role_name" />
    </resultMap>
    <resultMap id="BOMap" type="com.cafe.admin.bo.MenuPathAndRoleNameBO">
        <result column="menu_path" property="menuPath"/>
        <collection property="roleNameList" resultMap="RoleNameListResult" javaType="java.util.List"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, menu_id, create_time, update_time
    </sql>

    <select id="listMenuPathAndRoleNameBO" resultMap="BOMap">
        (
        SELECT m.menu_path, r.role_name
        FROM mall_menu AS m
        LEFT JOIN mall_role_menu AS rm ON rm.menu_id = m.id
        LEFT JOIN mall_role AS r ON r.id = rm.role_id
        <where>
            <if test="menuIds.size() != 0">
                AND rm.menu_id IN
                <foreach collection="menuIds" item="menuId" open="(" close=")" separator=",">
                    #{menuId}
                </foreach>
            </if>
        </where>
        )
        UNION
        (
        SELECT m.menu_path, r.role_name
        FROM mall_menu AS m
        LEFT JOIN mall_role_menu AS rm ON rm.menu_id = m.id
        LEFT JOIN mall_role AS r ON r.id = rm.role_id
        WHERE ISNULL(r.role_name)
        )
    </select>
</mapper>
