<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.system.mapper.ThemeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.system.model.Theme">
        <id column="id" property="id" />
        <result column="basic_name" property="basicName" />
        <result column="basic_code" property="basicCode" />
        <result column="hover_name" property="hoverName" />
        <result column="hover_code" property="hoverCode" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

</mapper>
