<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.merchant.dao.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.merchant.model.Shop">
        <id column="id" property="id" />
        <result column="shop_name" property="shopName" />
        <result column="shop_type" property="shopType" />
        <result column="logo" property="logo" />
        <result column="intro" property="intro" />
        <result column="telephone" property="telephone" />
        <result column="business_license" property="businessLicense" />
        <result column="audit" property="audit" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="audit_time" property="auditTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_name, shop_type, logo, intro, telephone, business_license, audit, status, create_time, update_time, audit_time, is_deleted
    </sql>

</mapper>
