<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.goods.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.goods.model.bo.Goods">
        <id column="id" property="id" />
        <result column="sku_name" property="skuName" />
        <result column="spu_id" property="spuId" />
        <result column="spu_name" property="spuName" />
        <result column="brand_id" property="brandId" />
        <result column="brand_name" property="brandName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="shop_id" property="shopId" />
        <result column="original_price" property="originalPrice" />
        <result column="discount_price" property="discountPrice" />
        <result column="seckill_price" property="seckillPrice" />
        <result column="specification" property="specification" />
        <result column="caption" property="caption" />
        <result column="intro" property="intro" />
        <result column="image" property="image" />
        <result column="image_list" property="imageList" />
        <result column="video" property="video" />
        <result column="launch_time" property="launchTime" />
    </resultMap>

    <select id="list" resultType="com.cafe.goods.model.bo.Goods">
        SELECT
        <choose>
            <when test="queryType == 'INDEX'">
                k.id, k.sku_name, k.spu_id, p.spu_name,
                p.brand_id, b.brand_name, p.category_id, c.category_name, p.shop_id,
                k.original_price, k.discount_price, k.seckill_price,
                k.specification,
                k.launch_time
            </when>
            <when test="queryType == 'SUMMARY'">
                k.id, k.sku_name, k.spu_id, p.spu_name,
                p.brand_id, b.brand_name, p.category_id, c.category_name, p.shop_id,
                k.original_price, k.discount_price, k.seckill_price,
                k.image
            </when>
            <otherwise>
                k.id, k.sku_name, k.spu_id, p.spu_name,
                p.brand_id, b.brand_name, p.category_id, c.category_name, p.shop_id,
                k.original_price, k.discount_price, k.seckill_price,
                k.specification, p.caption, p.intro, k.image, k.image_list, k.video,
                k.launch_time
            </otherwise>
        </choose>
        FROM mall_sku AS k
        LEFT JOIN mall_spu AS p ON p.id = k.spu_id
        LEFT JOIN mall_brand AS b ON b.id = p.brand_id
        LEFT JOIN mall_category AS c ON c.id = p.category_id
        <where>
            <if test="skuIds != null and skuIds.size() > 0">
                AND k.id IN
                <foreach collection="skuIds" item="skuId" open="(" close=")" separator=",">
                    #{skuId}
                </foreach>
            </if>
            AND k.is_deleted = 0
            AND p.is_deleted = 0
            AND b.is_deleted = 0
            AND c.is_deleted = 0
        </where>
    </select>

</mapper>
