<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.goods.dao.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.goods.model.Brand">
        <id column="id" property="id" />
        <result column="brand_name" property="brandName" />
        <result column="letter" property="letter" />
        <result column="brand_image" property="brandImage" />
        <result column="sort" property="sort" />
        <result column="brand_status" property="brandStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand_name, letter, brand_image, sort, brand_status, create_time, update_time, is_deleted
    </sql>

</mapper>
