<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.goods.dao.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.goods.model.Sku">
        <id column="id" property="id" />
        <result column="sku_name" property="skuName" />
        <result column="spu_id" property="spuId" />
        <result column="original_price" property="originalPrice" />
        <result column="discount_price" property="discountPrice" />
        <result column="seckill_price" property="seckillPrice" />
        <result column="stock" property="stock" />
        <result column="sale_count" property="saleCount" />
        <result column="sku_image" property="skuImage" />
        <result column="sku_image_list" property="skuImageList" />
        <result column="specification" property="specification" />
        <result column="sort" property="sort" />
        <result column="check_status" property="checkStatus" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="launch_time" property="launchTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_name, spu_id, original_price, discount_price, seckill_price, stock, sale_count, sku_image, sku_image_list, specification, sort, check_status, status, create_time, update_time, launch_time, is_deleted
    </sql>

</mapper>
