<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.user.dao.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cafe.user.model.Menu">
        <id column="id" property="id" />
        <result column="platform_id" property="platformId" />
        <result column="menu_name" property="menuName" />
        <result column="menu_title" property="menuTitle" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_path" property="menuPath" />
        <result column="parent_id" property="parentId" />
        <result column="menu_level" property="menuLevel" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <select id="listMenuTree" resultType="com.cafe.user.vo.MenuTreeVO">
        SELECT DISTINCT m.id, m.menu_name, m.menu_title, m.menu_icon, m.menu_path, m.parent_id, m.sort
        FROM mall_menu AS m
        LEFT JOIN mall_role_menu AS rm ON rm.menu_id = m.id
        LEFT JOIN mall_role AS r ON r.id = rm.role_id
        WHERE r.role_name IN
        <foreach collection="roleNameList" item="roleName" open="(" close=")" separator=",">
            #{roleName}
        </foreach>
        AND m.status = 1
        ORDER BY m.sort
    </select>
</mapper>
